    .pages_body {
        background-image: url("../images/pages_background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        margin: 0;
    }
    
    .pages_rage {
        width: 855px;
        height: 1000px;
        margin: 0 auto;
        padding: 52px;
        background-color: #ffffffa3;
    }
    
    .pages_background {}
    
    .pages_rage h1 p {
        margin: 0;
    }
    
    .pages_title {
        font-size: 50px;
        margin: 30px 0 0 0;
        font-weight: 500;
        float: left;
    }
    
    .pages_title_logo {
        float: right;
        margin: 15px 0 0 0;
        width: 150px;
    }
    
    .float_clear {
        clear: both;
    }
    
    .paes_title_text {
        margin: 16px 0;
        font-weight: 400;
        line-height: 160%;
    }
    
    .hero_image_rage {
        background-color: #b8b8ac;
        height: 342px;
        margin: 0 -52px;
    }
    
    #coffee_page_hero {
        background-image: url("../images/coffee_page_hero.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        position: relative;
        opacity: 1;
    }
    
    .coffee_page_grid_container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 33% 34% 33%;
        grid-gap: 0;
    }
    
    .coffee_page_grid_container>div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
    
    .coffee_page_grid_item {
        margin: 16px;
    }
    
    .grid_image_range {
        height: 128px;
        width: 128px;
        background-color: #de5757;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .grid_title_text {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    
    .grid_content_text {
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        text-align: left;
    }
    
    #grid_item_coffee {
        background-image: url("../images/coffee_content_coffee.jpg");
        background-size: cover;
        background-position: center;
    }
    
    #grid_image_teas {
        background-image: url("../images/coffee_content_tea.jpg");
        background-size: cover;
        background-position: bottom;
    }
    
    #grid_image_iced {
        background-image: url("../images/coffee_content_iced.jpg");
        background-size: cover;
        background-position: bottom;
    }